*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-principal:rgb(3, 39, 3) var(--color-principal)
    --color-secundario:

}
nav{
display: flex;
justify-content: space-between ;
align-items:center
}

.nav-item {
    
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgb(125, 187, 10) 2px 4px 2px ;
}

.nav-item:hover,{ 
    background-color: rgb(9, 255, 0);
    transition: 1s;
}

h1{
    color:rgb(3, 39, 3);
    font-size: 46px;
    font-weight: bold;
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: rgb(125, 187, 10) 2px 4px 2px ;}
    
h3{
    color:rgb(3, 39, 3);
    background-color: aqua;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: rgb(125, 187, 10) 2px 4px 2px ;}

    .span-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;

}
.logo{
    display: flex;
    justify-content: center;
  
}
footer{
    background-color: rgb(3, 39, 3);
    width: 100%;
    height: 250px;
    margin: 12px;
    display: flex;
    justify-content:center;
    align-items: center
   
}
.nos{
    margin:12px;
    color: rgb(2, 26, 112);
    background-color:  rgb(82, 226, 144);
    border: 1px solid darkgreen;
   
}
.servicios{
    align-items: center;
    display: flex;
    display: block;
    justify-content: center;
}

.col-4{
    background-color: chocolate;
    margin: 2px;
    padding: 2px;


}
